.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.nav {

}

.nav ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;  
}

.nav ul li {
  text-align: center;
  width: 23%;
  border-left: 1px solid #000;
  padding-bottom: 2px;
  padding: 2px;
}

.nav ul li:first-child {
  /* padding: 0; */
  border: none;
}

.section ul {
  list-style: none;
  padding: 0;
}

.section ul li {
  padding-bottom: 10px;
}

.sienna {
  display: flex;
  justify-content: space-between;
}

.sienna div {
  border-left: 1px solid #000;
  text-align: center;
  width: 23%;
  padding: 2px;
}

.sienna div:first-child {
  /* padding: 0; */
  border: none;
}

.trashicon {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../public/siennalois.svg)
}



@media (max-width: 600px) {

}
